/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/*  fonts:"Quicksand",sans-serif;*/
/*@@font-face {
  font-family: "Quicksand" sans-serif;
src:url(https://fonts.googleapis.com/css?family=Quicksand&display=swap);
}
@import {url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');}*/

h1{
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
  color:#c12258;
  line-height: 1.5;
  padding-left: 10px;
}
focus{
  border:1px 1px color;
}
main{
  padding-left: 10px;
}
  link{
    font-size: 18px;
    color:#c12258;
    text-decoration: underline;
  }
  caption{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
  }
  body{
    background-image: url("../images/pidgeon-background.jpg");
    background-repeat: no-repeat;
    background-color: #dddddd;
  }
  table{
    border-collapse: collapse;
    border: 2px solid black;
    border-radius: 10px;

  }


  thead{
    line-height:2.2;
    padding: 10px;
    color:white;
    text-align: center;
    background-color:#7e0830;
    text-transform: uppercase;
  }
  .cl{
    font-family: 'Quicksand', sans-serif;
  }
tbody tr{
    border-bottom: 2px solid black;

}
tbody tr:nth-child(even) {
  background: #dddddd;
}



  td{
    padding: 15px;
    font-family: 'Quicksand', sans-serif;

  }
  tr{
    border-top: 2px solid black;
     width:150px;
    border:2px solid black;
    font-family: 'Quicksand', sans-serif;

  }
  tr:hover{
    background-color: #fab9cf;

  }
  tr:nth-child(even) {background:#dddddd;}

  tr:nth-child(odd) {background-color:transparent;}

  p{
    font-family: 'Quicksand', sans-serif;
  }

  .datacite a{
    color:#c12258;
  }

  footer{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    position: flex;
    color:white;
    background-color: black;
    height: 60px;
    padding-left: 10px;
  }
